<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="index.html">Home</a>
          </li>
          <% if defined?(product) %>
            <li class="active"><%= product.name %></li>
          <% else defined?(taxon) %>
            <li>
              <a href="#">shop</a>
            </li>
            <% taxon.self_and_ancestors.each do |t| %>
              <%= content_tag :li, class: current_page?(potepan_category_path(t.id))? 'active' : nil do %>
                <%= link_to_unless_current t.name, potepan_category_path(t.id) %>
              <% end %>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</section>
