<div class="slide">
  <div class="productImage clearfix">
    <%= image_tag(featured_product.display_image.attachment(:large), :alt => "featured-product-img") %>
    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="productCaption clearfix">
    <%= link_to potepan_product_path(featured_product.id) do %>
      <h5><%= featured_product.name %></h5>
    <% end %>
    <h3><%= featured_product.display_price %></h3>
  </div>
</div>
