<% provide(:title, '') %>
<%= render 'banner' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'featured_category' %>
    <% if @featured_products.present? %>
      <%= render partial: 'featured_products', locals: { featured_products: @featured_products } %>
    <% end %>
    <%= render 'articles' %>
  </div>
</section>
<%= render 'shared/light_section_logo' %>
<%= render 'shared/product_quick_view_modal' %>
